.h1 {
    text-align: center;
    color: black;
}


.container {
    display: flex;
    border-color: blue red yellow green;
    float: center;
}

.item-1 {
    background-color: grey;
}

.item-2 {
    background-color: orange;
}

.item-3 {
    background-color: purple;
}

.item-4 {
    background-color: blueviolet;
}

.kotak {
    height: 670px;
    width: 200px;
    border: solid;
    margin-right: 50px;
}